* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.main-title {
    font-size: 3.5em;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 1.5rem;
    animation: 1.2s animation_fade ease-in-out;
}

.inputs {
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    outline: none;
    padding: 10px;
    height: 50px;
    width: 350px;
    border-radius: 15px;
}

.button-submit {
    background-color: #000;
    color: #fff;
    width: 300px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}


@keyframes animation_fade {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}